.sheet-row {
  cursor: pointer;
}

.sheet-page {
  background-color: #EEEEEE;
}

.sheets-body, .sheet-footer {
  background-color: #343a40;
}

.sheet-main {
  background-color: #777777;
}

.sheet-footer {
  color: #fff;
  text-align: center;
}