.clickable {
  cursor: pointer;
}

.sheet-page {
  background-color: #EEEEEE;
}

.sheets-body, .sheet-footer {
  background-color: #343a40;
}

.sheet-main {
  background-color: #777777;
}

.sheet-footer {
  color: #fff;
  text-align: center;
}

.table-no-hover tbody tr:hover {
  background-color: inherit !important;
}

.statistics-detail {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

.selected {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: lightskyblue;

  background-color:lightgray;
  font-weight: bold;
}

.fill-cell {
  height:100%;
  width:100%;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes refreshPositiveStatistic {
  from {background-color: lightgreen;}
  to {background-color: white;}
}

.flash-positive-when-updated {
  animation-name: refreshPositiveStatistic;
  animation-duration: 1s;
}

@keyframes refreshNegativeStatistic {
  from {background-color: pink;}
  to {background-color: white;}
}

.flash-negative-when-updated {
  animation-name: refreshNegativeStatistic;
  animation-duration: 1s;
}

.detail-box {
  padding: .375rem .75rem;
}