.clickable {
  cursor: pointer;
}

.sheet-page {
  background-color: #EEEEEE;
}

.sheets-body, .sheet-footer {
  background-color: #343a40;
}

.sheet-main {
  background-color: #777777;
}

.sheet-footer {
  color: #fff;
  text-align: center;
}

.table-no-hover tbody tr:hover {
  background-color: inherit !important;
}

.selected {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: lightskyblue;
  background-color:lightgray;
  font-weight: bold;
}

.fill-cell {
  height:100%;
  width:100%;
}